$body-max-width: 1024px;

$file-path: "/../..";
$svg-path: $file-path+"/images/svg/";

// Content responsive__table

$responsive__table-black: #000000;
$responsive__table-white: #FFFFFF;
$responsive__table-bordergray: #ECE8E8;
$responsive__table-graybg: #f2f2f2;
$responsive__table-darkblue: #00508c;
$responsive__table-midblue: #0069b8;
$responsive__table-lightblue: #0d85ca;
