$body-max-width: 1024px;

$file-path: "/../..";
$svg-path: $file-path + "/images/svg/";

// Content Table

$table-black: #000000;
$table-white: #FFFFFF;
$table-bordergray: #ECE8E8;
$table-graybg: #f2f2f2;
$table-darkblue: #00508c;
$table-midblue: #0069b8;
$table-lightblue: #0d85ca;
