.responsive__table {
  display: none;
  max-width: calc(100% - 20px);
  margin: 0 auto;
  flex-wrap: wrap;

  @include respond(md) {
    display: flex;
  }

  @include respond(md) {
    max-width: 75%;
  }

  @include respond(lg) {
    max-width: 60%;
  }
}

.responsive__table__title {
  text-align: center;
  margin: 45px auto;

  @include respond(md) {
    margin: 60px auto 100px;
  }
}

.responsive__table__disclaimer {
  max-width: calc(100% - 20px);
  margin: 0 auto 25px;

  @include respond(md) {
    max-width: 75%;
    margin: 0 auto 50px;
  }

  @include respond(lg) {
    max-width: 60%;
  }

  span {
    display: block;
    max-width: 460px;
    font-size: 12px;
    line-height: 1;
    color: $responsive__table-black;
  }
}

.responsive__table__row {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  box-shadow: 0 2px 4px 0 rgba($responsive__table-black, .5);
}

.responsive__table__headings {
  box-shadow: none;

  .responsive__table__cell {
    min-height: 60px;
    justify-content: center;
    color: $responsive__table-white;
    border: none;

    &.responsive__table__row--name {
      background-color: transparent;
    }
  }
}

.responsive__table__row,
.responsive__table__column {

  &.responsive__table__headings .responsive__table__cell,
  .responsive__table__cell.responsive__table__row--name,
  .responsive__table__cell .responsive__table__row--name {
    font-weight: bold;
  }
}

.responsive__table__cell {
  border-right: 3px solid $responsive__table-bordergray;
  background-color: $responsive__table-white;
  padding: 25px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex: 1;
  font-size: 18px;
  min-width: 120px;
  min-height: 180px;
  flex-wrap: wrap;

  &--empty {
    border: none;
  }

  &:last-child,
  &:not(.responsive__table__cell--empty):last-child {
    border-right: none;
  }

  &.responsive__table__row--name {
    background-color: rgba($responsive__table-graybg, .5);
    min-width: 140px;
    display: none;

    @include respond(md) {
      display: flex;
    }
  }
}

.responsive__table__column--name {
  font-size: 12px;
  color: $responsive__table-white;
}

@mixin ColumnNameTheme($theme) {
  .responsive__table__column--name {
    background-color: $theme;

    &:nth-of-type(2n) {
      background-color: $theme;
    }

    &:nth-of-type(3n) {
      background-color: lighten($theme, 3%);
    }

    &:nth-of-type(4n) {
      background-color: lighten($theme, 6%);
    }
  }
}

@include ColumnNameTheme($responsive__table-darkblue);

.ModularPage .maincontent,
.landingcontent {

  .responsive__table,
  .responsive__table__disclaimer,
  .promopage-content {
    max-width: 99%;

    @include respond(lg) {
      max-width: $body-max-width;
    }
  }
}

/* Mobile Accordion */

.responsive__table__mobile {
  display: flex;

  @include respond(md) {
    display: none;
  }

  .responsive__table__column {
    flex: 100%;
    margin-bottom: 15px;

    &--shadow {
      box-shadow: 0 2px 4px 0 rgba($responsive__table-black, .5);
    }

    .responsive__table__column--name {
      background-color: $responsive__table-darkblue;
      color: $responsive__table-white;
    }

    &:nth-of-type(1n) {
      .responsive__table__column--name {
        background-color: $responsive__table-darkblue;
      }
    }

    &:nth-of-type(2n) {
      .responsive__table__column--name {
        background-color: $responsive__table-midblue;
      }
    }

    &:nth-of-type(3n) {
      .responsive__table__column--name {
        background-color: $responsive__table-lightblue;
      }
    }
  }

  .responsive__table__cell {
    width: 100%;
    border-right: none;
    border-left: none;
    min-height: 150px;
    position: relative;
    flex-wrap: wrap;

    &:not(:last-child) {
      border-bottom: 3px solid $responsive__table-bordergray;
    }

    .responsive__table__row--name {
      width: 100%;
      text-align: left;
    }
  }

  .responsive__table__column--name {
    min-height: 60px;
    color: $responsive__table-black;
    width: calc(100% + 2px);
    position: relative;
    left: -1px;
  }

  .accordion__panel {
    box-shadow: 0 2px 4px 0 rgba($responsive__table-black, .5);
  }

  .responsive__table__accordion__button {
    width: 21px;
    height: 12px;
    display: block;
    overflow: hidden;
    position: absolute;
    right: 1.5em;

    &:after {
      background: url(#{$svg-path}arrow-white-down.svg) no-repeat 0 0 / 21px 12px;
      content: "";
      cursor: pointer;
      display: block;
      font: 400 48px/48px "Times New Roman";
      height: 12px;
      position: absolute;
      right: 0;
      top: 0;
      width: 21px;
    }
  }

  .accordion__trigger[aria-expanded="true"] .responsive__table__accordion__button:after {
    transform: rotate(-180deg);
  }

}
